.archName {
  margin-top: 70px;
  padding-left: 30px;
}
.biographi {
  margin-top: 10px;
}
.projectListName {
  margin-top: 10px;
  padding-left: 30px;
}
.projectListBox {
  padding-top: 10px;
  padding-left: 30px;
}
.projectName {
  height: 30px;
}

/* .projectName::before {
  content: '';
  background: url(/src/images/house.png) no-repeat left top;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 0;
  top: 8px;
} */
