.archName {
  margin-top: 70px;
  padding-left: 30px;
  text-align: center;
}
.biographi {
  margin-top: 10px;
}
.projectListBox {
  padding-top: 10px;
  padding-left: 30px;
}
.projectListName {
  margin-top: 10px;
  padding-left: 30px;
}
.projectName {
  height: 30px;
}
