.archName {
  margin-top: 70px;

  text-align: center;
}
.arch_img {
  margin-top: 20px;
}
.biographi {
  margin-top: 10px;
}

.archSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.projectListName {
  margin-top: 15px;
  padding-left: 30px;
}

.projectListBox {
  padding-top: 10px;
  padding-left: 30px;
}
.projectNameItem {
  line-height: 25px;
}
@media screen and (min-width: 1200px) {
  .archName {
    font-size: 48px;
  }
  .projectName {
    font-size: 30px;
    line-height: 50px;
  }
  .archSection {
    padding-top: 100px;
    padding-left: 500px;
    padding-right: 500px;
  }

  .projectListName {
    padding-left: 0;
    font-size: 36px;
    font-weight: 700;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  .biographi {
    font-size: 32px;
    line-height: 1.3;
  }
  .projectListBox {
    padding-left: 0;
  }
  .projectList {
    list-style-position: inside;
    text-align: start;
    column-count: 2;
    list-style-type: none;
    line-height: 30px;
  }
  .projectNameItem {
    line-height: 45px;
  }
}
