.wrapper {
  display: flex;
  flex-direction: column;
}
.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  background-color: lightgray;
  text-align: center;
  border-bottom: 1px solid gray;
}
.nav {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .header {
  }
  .nav {
    font-size: 24px;
    padding-left: 300px;
    padding-right: 300px;
  }
}
.navlink {
  color: black;
  font-weight: 700;
}
.navLogo {
  height: 80px;
  width: 100%;
}
.content {
  min-height: calc(100vh - 60px);
  background-color: white;
}
.footer {
  min-height: 10px;
  width: 100%;
  background-color: lightgray;
  color: black;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid gray;
}
.footerText {
  color: black;
  font-size: 24px;
}
